{% extends "mini_fb/base.html"%}

{% block content %}
  <div class="friend-suggestions-container">
    <h2 class="heading">Friend Suggestions for {{ profile.first_name }} {{ profile.last_name }}</h2>

    <ul class="friend-suggestions-list">
      {% for suggested_friend in RecommendFriends %}
        <li class="friend-suggestion-item">
          <div class="friend-details">
            <img class="friend-avatar" src="{{ suggested_friend.profile_image_url }}" alt="{{ suggested_friend.first_name }}'s profile picture" />
            <div class="friend-info">
              <p class="friend-name">{{ suggested_friend.first_name }} {{ suggested_friend.last_name }}</p>
              <a class="add-friend-btn" href="{% url 'add_friend' profile.pk suggested_friend.pk %}">Add Friend</a>
            </div>
          </div>
        </li>
      {% empty %}
        <li class="no-friends">No friend suggestions available.</li>
      {% endfor %}
    </ul>

    <a class="back-link" href="{% url 'show_profile' profile.pk %}">Back to Profile</a>
  </div>
{% endblock %}