{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'rate_my_interviewer/styles.css' %}">

</head>
<div class="container">
  <h1>Login</h1>
  <form method="post" >
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn save-btn ">Login</button>
    <input type="hidden" name="next" value="{% url 'profile' %}" />
    <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
  </form>
</div>
